<a href="index.html"><img src="images/logo.webp"></a>
<h1>Factor Mobility Inc.</h1>
<button id="hamburger">☰</button>
<nav>
    <a href="index.html">Home</a>
    <div id="productDropdown">
        <button>Services ⏷</button>
        <div id="productSub">
            <a href="product-extrusion.html">Extrusion</a>
            <a href="product-forging.html">Forging</a>
        </div>
    </div>
    <a href="equipment.html">Equipment</a>
    <a href="company.html">Company</a>
    <a href="blog.html">Blog</a>
    <a href="contact.html">Contact</a>
    <button id="darkmodeSwitcher">☾</button>
</nav>