
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Factor Mobility Inc.</title>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&display=swap" rel="stylesheet">

<link rel="stylesheet" href="styles/normalize.css">
<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/medium.css">
<link rel="stylesheet" href="styles/larger.css">

<meta property="og:title" content="Facotr mobility">
<meta property="og:type" content="website">
<meta property="og:image" content="https://runyun.github.io/factor-mobility/frontend/images/logo.webp">
<meta property="og:url" content="https://runyun.github.io/factor-mobility/frontend">
