@media screen and (min-width: 1000px){
    header {
        grid-template-columns: 100px 1fr 2fr;
    }
    
    header h1{
        display: block;
        margin-left: 3rem;
    }

    nav {
        gap: 2rem;
    }
      
    #hero section {
        font-size: x-large;
    }
}